ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
    font-size: x-large;
    font-family: Verdana;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightgray;
}

.active {
    background-color: cornflowerblue;
}

logo {
}
.logocorner {
    position: absolute;
    left: 8px;
    top: 18px;
}

ul.menubarcorner{
    position: relative;
    left: 200px;
}

background{
    background-color: darkgray;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    border-radius: 5px;
}
table.center {
    margin-left:auto;
    margin-right:auto;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 10%;
}

tr:nth-child(even) {
    background-color: white;
    border: 1px solid #dddddd;
    padding: 8px;
    width: 10%;
}

center {
    margin-left: auto;
    margin-right: auto;
}
