<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>hey</title>
  <link rel="stylesheet" th:href="@{css/myStyles.css}" href="../../static/css/myStyles.css"/>


</head>
<body style="background-color:whitesmoke">
<div style="background-color: white">

  <div>
    <img class="logocorner" src="/static/images/skyen.png" th:src="@{/images/skyen.png}" width="155,04" height="32,64">
  </div>
  <div>
    <ul class="menubarcorner">
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#news">Ønsker</a></li>
      <li><a href="#contact">Kontakt os</a></li>
      <li><a href="#about">About</a></li>
    </ul>
  </div>
</div>

<table class="center" table style="background-color: lightgrey; margin-top:50px">
  <tr>
    <th>Ønskeliste navn</th>
    <th>ønskliste nr</th>
    <th>Se ønsker i liste</th>

  </tr>
  <tr th:each="w : ${wishes}">
    <td> <span th:text="${w.wish_user}">user</span> </td>
    <td> <span th:text="${w.wish_id}">id</span> </td>
    <td> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">tryk her for at se ønsker</a> </td>

  </tr>
</table>

</body>
</html>