<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>hey</title>
  <link rel="stylesheet" th:href="@{css/myStyles.css}" href="../../static/css/myStyles.css"/>



</head>
<body style="background-color:whitesmoke">
<div style="background-color: white">

  <div>
    <img class="logocorner" src="/static/images/skyen.png" th:src="@{/images/skyen.png}" width="155,04" height="32,64">
  </div>
  <div>
    <ul class="menubarcorner">
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#news">Wishlist</a></li>
      <li><a href="#contact">Contact Us</a></li>
      <li><a href="#about">About us</a></li>
    </ul>
  </div>
</div>

<table class="center" table style="background-color: cornflowerblue; margin-top:50px">
  <tr>
    <th>Wishlist name</th>
    <th>Wishlist nr.</th>
    <th>See wishes in list</th>

  </tr>
  <tr th:each="w : ${wishlists}">
    <td> <span th:text="${w.wishlist_name}">Name</span> </td>
    <td> <span th:text="${w.wishlist_userId}">id</span> </td>
    <td> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Press to see wishes</a> </td>
  </tr>
</table>

<table class="center" table style="background-color: lightyellow; margin-top:50px">

  <form action="/create" method="post">
    <tr>
      <td> <input id="wishlist-name" navn="navn" placeholder="Wishlist name"> </td>
      <td>   <button type="submit">Create wishlist</button>
      </td>
    </tr>
</table>

</body>
</html>