<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Den store Ønskeliste</title>
  <link rel="stylesheet" th:href="@{/css/myStyles.css}" href="../../static/css/myStyles.css"/>



</head>
<body style="background-color:whitesmoke">
<div style="background-color: white">

  <div>
    <img class="logocorner" src="/static/images/skyen.png" th:src="@{/images/skyen.png}" width="155,04" height="32,64">
  </div>
  <div>
    <ul class="menubarcorner">
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/">Wishlist</a></li>
      <li><a href="#contact">Contact Us</a></li>
      <li><a href="#about">About us</a></li>
    </ul>
  </div>
</div>

<table class="center" table style="background-color: lightyellow; margin-top:50px">

  <form action="/updateWish" method="post">
    <tr>
      <td> <input id="wish-name" name="name" th:value="${name}"> </td>
      <td> <input id="wish-price" name="price" th:value="${price}">
            <input type="hidden" id="" name="wishId" th:attr="value=${wishId}">
      </td>
      <td>  <button type="submit">Update wish</button>  </td>
    </tr>
  </form>
</table>

</body>
</html>