<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Den store Ønskeliste</title>
    <link rel="stylesheet" th:href="@{/css/myStyles.css}" href="../../static/css/myStyles.css"/>



</head>
<body style="background-color:whitesmoke">
<div style="background-color: white">

    <div>
        <img class="logocorner" src="/static/images/skyen.png" th:src="@{/images/skyen.png}" width="155,04" height="32,64">
    </div>
    <div>
        <ul class="menubarcorner">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/">Wishlist</a></li>
            <li><a href="#contact">Contact Us</a></li>
            <li><a href="#about">About us</a></li>
        </ul>
    </div>
</div>

<table class="center" table style="background-color: cornflowerblue; margin-top:50px">
    <tr>
        <th>Wish ID</th>
        <th>Wish Name</th>
        <th>Price</th>

    </tr>
    <tr th:each="w : ${wishes}">
        <td> <span th:text="${w.wishID}">Id</span> </td>
        <td> <span th:text="${w.wish_name}">Name</span></td>
        <td> <span th:text="${w.wish_price}">Price</span> kr.- </td>
        <td> <span th:text="${w.wish_IsReserved}">Price</span> kr.- </td>
        <td> <span> <a th:href="@{'/updateWish/' + ${w.wishID}}">Update</a> </span> </td>
        <td> <span> <a th:href="@{'/deleteWish/' + ${w.wishID}}">Delete</a> </span> </td>
        <td> <span> <a th:href="@{'/reserveWish/' + ${w.wishID}}">Reserve</a> </span> </td>
    </tr>
</table>

<table class="center" table style="background-color: lightyellow; margin-top:50px">

    <form action="/createWish/" method="post">
        <tr>
            <td> <input id="wish-name" name="name" placeholder="Wish/product name"> </td>
            <td> <input id="wish-price" name="price" placeholder="Wish price"> </td>
            <td> <input type="hidden" id="" name="wishListId" th:attr="value=${wishListId}"> </td>
            <td>   <button type="submit">Create wish</button>
            </td>
        </tr>
    </form>
</table>

</body>
</html>