<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>hey</title>
  <link rel="stylesheet" th:href="@{css/myStyles.css}" href="../../static/css/myStyles.css"/>


</head>
<body style="background-color:whitesmoke">
<div style="background-color: white">

  <div>
    <img class="logocorner" src="/static/images/skyen.png" th:src="@{/images/skyen.png}" width="155,04" height="32,64">
  </div>
  <div>
    <ul class="menubarcorner">
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#news">Ønsker</a></li>
      <li><a href="#contact">Kontakt os</a></li>
      <li><a href="#about">About</a></li>
    </ul>
  </div>
</div>
<h1 style="padding-left: 400px">Ønsker til ønkselisten</h1>

<table class="center" table style="background-color: cornflowerblue; margin-top:50px">
  <tr>
    <th>Produkt</th>
    <th>Pris</th>
    <th>Antal</th>

  </tr>
  <tr th:each="w : ${products}">
    <td> <span th:text="${p.product_name}">productnavn</span> </td>
    <td> <span th:text="${p.product_price}">pris</span> </td>
    <td> <span th:text="${p.product_quantity}">antal</span> </td>
    <td> fjern </td>
    <td> rediger </td>
  </tr>

</table>

<table class="center" table style="background-color: lightyellow">

  <form action="/create" method="post">
  <tr>
    <td>   <label for="product-name">Produkt navn</label>
      <input id="product-name" name="navn"> </td>
    <td> <label for="price-field">Pris: </label>
      <input type="number" id="price-field" name="price"> </td>
    <td>   <label for="antal">Antal: </label>
      <input type="antal" id="antal" name="antal"> </td>
    <td>   <button type="submit">Opret ønske</button>
    </td>
  </tr>
</table>

</form>
</body>
</html>