<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>hey</title>
  <link rel="stylesheet" th:href="@{css/myStyles.css}" href="../../static/css/myStyles.css"/>


</head>
<body style="background-color:whitesmoke">
<div style="background-color: white">

  <div>
    <img class="logocorner" src="/static/images/skyen.png" th:src="@{/images/skyen.png}" width="155,04" height="32,64">
  </div>
  <div>
    <ul class="menubarcorner">
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#news">Wihslist</a></li>
      <li><a href="#contact">Contact us</a></li>
      <li><a href="#about">About us</a></li>
    </ul>
  </div>
</div>
<h1 style="padding-left: 400px">Wishes for the wishlist</h1>

<table class="center"  style="background-color: cornflowerblue; margin-top:50px">
  <tr>
    <th>Product</th>
    <th>Price</th>

  </tr>
  <tr th:each="w : ${products}">
    <td> <span th:text="${p.product_name}">Product name</span> </td>
    <td> <span th:text="${p.product_price}">Price</span> </td>
    <td> remove </td>
    <td> Edit </td>
  </tr>

</table>

<table class="center" table style="background-color: lightyellow">

  <form action="/create" method="post">
  <tr>
    <td>
      <input id="product-name" name="navn" placeholder="Product name"> </td>
    <td>
      <input type="number" id="price-field" name="price" placeholder="Price"> </td>
    <td>   <button type="submit">Create wish</button>
    </td>
  </tr>
</table>

</form>
</body>
</html>